body {
  margin: 0;
  background-color: rgb(210, 253, 204);
}


.nav {
  background-color: rgb(31, 250, 2);
  font-size: larger;
  min-height: 50px;
  display: flex;
}

.nav span {
  padding: 20px 20px 20px 20px;
}

.nav span:hover {
  background-color: beige;
}